@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

  .formShadow {
    box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.4);
  }

  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.title {
  background: linear-gradient(155deg, #29278d 0%, #6d11cc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer base {
  h1 {
    font-family: 'Source Sans 3', sans-serif;
  }

  body {
    font-family: 'Source Sans 3', sans-serif;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-call-to-action {
  border-radius: 16px;
  background: #29278d;
  color: #fff;
  font-weight: bold;
  width: 223px;
  padding: 18px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-call-to-action:hover {
  background: #1f1d68;
}

.btn-call2 {
  border-radius: 16px;
  background: transparent;
  color: #5526b3;
  border: 2px solid #29278d;
  font-weight: bold;
  width: 223px;
  padding: 18px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-call2:hover {
  border: 2px solid #1f1d68;
}

.btn-register {
  display: flex;
  padding: 16px 23px;
  border-radius: 4px;
  background: #5526b3;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btn-register:hover {
  background: #1f1d68;
}

.btn-login {
  display: flex;
  align-items: center;
  background: transparent;
  color: #5526b3;
  font-weight: bold;
  cursor: pointer;
}

.btn-login:hover {
  color: #1f1d68;
}

.btn-edit-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 159px;
  height: 35px;
  padding: 8px 15px;
  background-color: #5526b3;
  color: #fff;
  border-radius: 16px;
}

.btn-edit-profile:hover {
  background-color: #1f1d68;
}

.conic-gradient {
  background: conic-gradient(
    from 16deg at 50% 50%,
    #5728b4 0deg,
    #5526b3 177.04047203063965deg,
    #29278d 360deg
  );
}
.gradient {
  background: linear-gradient(
    180deg,
    #060453 1.04%,
    #29278d 29.32%,
    #5526b3 46.91%,
    #8e69d9 92.71%,
    #8e69d9 100%
  );
}

.logo path {
  transform: scale(0.6);
}

.container {
  border-radius: 8px;
  border: 1px solid rgba(85, 38, 179, 0.4);
  background: #fff;
  padding: 40px;
}

.grid-profile {
  display: grid;
  grid-template-areas:
    'user user user user user'
    'stack stack projects projects projects'
    'stack stack projects projects projects'
    'stack stack collaborations collaborations collaborations'
    'stack stack collaborations collaborations collaborations'
    'stack stack collaborations collaborations collaborations';
  gap: 20px;
}

/* * //\\//\\////\\//\\////\\//\\////\\//\\////\\//\\// * */

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
